/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #000000;
    height: 100vh; /* Ensure body takes full height */
}

/* Navigation Bar Styling */
nav ul {
    list-style: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Section Styling */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    min-height: 100vh; /* Ensure section takes full height */
    position: relative;
    width: 100%;
}

/* Video Background Styling */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Keeps video behind content */
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 150%;
}

/* Content Styling */
.content {
    z-index: 1;
    max-width: 800px;
    margin: 0 20px; /* Add some margin for responsiveness */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

/* Style for typing text */
#typingText {
    margin-top: 50px; /* Adjust this value to move the text down */
    font-size: 1.5em;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    text-align: center; /* Align the text to the center */
}




/* Image Gallery Styling */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay p {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

/* Video Section Styling */
.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.video iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.video iframe:hover {
    transform: scale(1.05);
}
